[Unit]
Description=Cronr daemon for managing cron tasks
After=network.target

[Service]
Type=forking
ExecStart=/root/.cargo/bin/cronr start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
